.locationCard {
  width: 100%;
  border-radius: 20px;
  background: radial-gradient(circle, #2B0B47 0%, #13062D 100%);
  transition: 0.5s;
}

.locationCard:hover {
  background: radial-gradient(circle, #471278 0%, #13062D 100%);
}

.locationCardContent {
  padding: 1.5rem 2rem;
}

.locationCardContent p {
  color: #FFF;
  margin-bottom: .5rem;
}

.locationCardContentFavorite {
  text-align: right;
  height: 45px;
}

.locationCardContentFavorite button {
  font-size: 35px;
  color: #FFF;
}

.locationCardContentFavorite button svg {
  height: 25px;
  width: auto;
  transition: 0.5s;
}

.lightWhite {
  color: #FFFFFF8D!important;
}